@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>



<AuthorizeView>
    <h1>Hello @context.User.Identity?.Name! You are authenticated</h1>
    <div> <img src="@s" alt="Description of the image" width="500" height="500" /></div>
   
</AuthorizeView>

@code{
    private string s = "https://i.chzbgr.com/full/9427032832/hB0E644E8/welcome-back";
}