@page "/"

<PageTitle>Home</PageTitle>

<h1>Hi bestie! You can rate films here!</h1>

<img src="https://static1.srcdn.com/wordpress/wp-content/uploads/2019/12/c2-e1577445344881.jpg" alt="Description of the image" width="500" height="500" />